.card:hover {
	box-shadow: 0px 1px 16px 6px #2b90d9;
}
.card {
	position: relative;
	background-color: #333;
	color: whitesmoke;
	padding: 0 0 .5em 0;
	font-size: .777em;
	width: 240px;
	height: 360px;
}
.card > a {
	position: absolute;
	margin: .5em;
	bottom: 0;
	left: 0;
	right: 0;
}
.card > img {
	width: calc(160px * 1.5);
	height: calc(205px * 1.5);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}
#player-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
}
#player-modal #modal-overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
	opacity: .7;
	background-color: #282c37;
}
#player-modal #modal-content {
	color: #2b90d9;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
#player-modal #modal-close {
	position:relative;
	color: white;
	text-shadow: 1px 1px #282c37;
	height: 2em;
	width: 570px;
	border: 2px ouset #2b90d9;
	border-radius: 0 0 .75em .75em;
	order: 1;
	background: linear-gradient(45deg, #2b90d9 0%,#282c37 69%,#2b90d9 70%,#282c37 71%,#282c37 71%,#26558b 89%,#2b90d9 92%,#3a84c3 92%)
}
#player-modal #p8-player {
	z-index: 1;
	height: 700px;
	width: 700px;
	border: 4px double #2b90d9;
	border-radius: 10% / 25%;
}
