#game-library {
	max-width: 1400px;
	margin: auto;
}
#game-library .card:hover {
	box-shadow: 0px 1px 16px 6px #2b90d9;
}

#game-library .card > a {
	position: absolute;
	margin: .5em;
	bottom: 0;
	left: 0;
	right: 0;
}
#game-library .card > img {
	width: calc(160px * 1.5);
	height: calc(205px * 1.5);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}
